{% extends "header.html" %}

{% block head %}
<head>
	<title>Guessing Time</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="/../static/js/logic.js"></script>
</head>
{% endblock %}

{% block body %}
<body>

	<h3> {{ pic }} </h3>


	<div class="row">
		<div class="col-lg-6">
	  		<form action="/{{ session['level'] }}" method="POST">
	    		<div>
	    			<input type="text" class="form-control" placeholder="Make a guess!" aria-label="Guess" aria-describedby="basic-addon2" id="char">
	    			</br>
	    			<div class="input-group-append">
	    				<button class="btn btn-outline-secondary" type="submit">Guess</button>
	    		  	</div>
	    		</div>
	    	</form>
	  	</div><!-- /.col-lg-6 -->
	</div><!-- /.row -->
	
	<p id="lives"></p>

	<p id="guessed_letters"></p>

	<p id="guess_space"></p>

	<p id="warning"></p>

	<!-- <p id="space"></p> -->

</body>
{% endblock %}