{% extends "header.html" %}

{% block head %}
<head>
	<title>Guessing Time</title>
</head>
{% endblock %}

{% block body %}
<body>

	<h3> {{ pic }} </h3>


	<div class="row">
		<div class="col-lg-6">
	  		<form action="/{{ session['level'] }}" method="POST">
	    	<div class="input-group">
	    	  <span class="input-group-addon" id="basic-addon1"></span>
	    	  <input type="text" class="form-control" placeholder="Make a guess!" aria-describedby="basic-addon1" name="char">
	    	</div>
	    	</form>
	  	</div><!-- /.col-lg-6 -->
	</div><!-- /.row -->
	
	</br></br>

	{{wordSplit}}

	{{lives}}</br>

	{{guessed_letters}}</br>

	<i>{{guess_space}}</i></br>

	{{warning}}

</body>
{% endblock %}